{% extends "learning_blogs/base.html" %}
{% load bootstrap4 %}
	
{% block page_header %}
	<h2>开始注册你的博客啦</h2>
{% endblock page_header %}

{% block content %}

  {% if form.errors %}
    <p>你的用户名和密码不匹配，请重新尝试</p>
  {% endif %}
    
  <form method="post" action="{% url 'users:login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
		<button name="submit" class="btn btn-primary">登录</button>
	{% endbuttons %}
    <input type="hidden" name="next" 
      value="{% url 'learning_blogs:index' %}" />
  </form>
    
{% endblock content %}
