{% extends "learning_blogs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h1>这里展示你的博客</h1>
{% endblock page_header %}

{% block content %}
	<ul>
		{% for blogpost in blogposts %}
			<div class="card mb-3">
				<h4 class="card-header">
					{{ blogpost.date_added|date:'M d,Y H:i' }}
				<small><a href="{% url 'learning_blogs:new_blogpost' %}">
						添加一个新的博客</a></small>
				</h4>
				<div class="card-body">
					<a href="{% url 'learning_blogs:blogpost' blogpost.id %}">{{ blogpost }}</a>
				</div>
			</div>
		{% empty %}
		  <div class="alert alert-secondary" role="alert">
			还没有博客，快去创建你的第一个博客吧!
		  </div>
		  <h3><a href="{% url 'learning_blogs:new_blogpost' %}">添加一个新的博客</a></h3>
		{% endfor %}
	</ul>

{% endblock content %}
