{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <h3>{{ teacher }}</h3>
{% endblock page_header %}

{% block content %}
  <p>
    <a href="{% url 'learning_logs:new_teacherMessage' teacher.id %}">Add new teacherMessage</a>
  </p>

  <ul>
  {% for teacherMessage in teacherMessages %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ teacherMessage.date_added|date:'M d, Y H:i' }}
        <small><a href="{% url 'learning_logs:edit_teacherMessage' teacherMessage.id %}">
            edit teacherMessage</a></small>
        <small><a href="{% url 'learning_logs:delete_teacherMessage' teacherMessage.id %}">
            delete teacherMessage</a></small>
      </h4>
      <div class="card-body">
        {{ teacherMessage.text|linebreaks }}
      </div>
    </div>
  {% empty %}
	<div class="alert alert-success" role="alert">
		There are no teacherMessage for this teacher yet!
	</div>
  {% endfor %}

{% endblock content %}
